<body>
    <h1 id="saludo">{{saludo}}</h1>
    <div class="chat-websocket">
        <div class="websocket-actions" id="websocket-actions">

        </div>
        <div class="websocket-controls" id="websocket-controls">
            <input id="user" type="text" placeholder="Usuario">
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Mensaje" disabled></textarea>
            <input id="send" type="button" value="Enviar" disabled>
            

        </div>
        <div class="websocket-messages" id="websocket-messages">

        </div>

    </div>
</body>